/db.sqlite3
savannah_project/settings.py
savannah_project/secrets.py
savannah_project/product/migrations
savannah_project/order/migrations
savannah_project/customer/migrations
savannah_project/cart/migrations
savannah_project/images